* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #58585A;
  background-color: #b6b6b6;
  opacity: 1;
  background-size: 8px 8px;
  background-image: repeating-linear-gradient(45deg, #ffffff 0, #ffffff 0.8px, #e2e1e1 0, #e2e1e1 50%);
}

h1 {
  margin-top: 20px;
  font-family: "Caveat", cursive;
  color: #A29E9F;
  text-align: center;
  font-size: 5rem;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

h2 {
  margin-top: 25px !important;
  font-family: "Abril Fatface", cursive;
  color: #EE4037;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 30px;
}

p {
  padding: 10px;
  text-justify: distribute;
}

section {
  margin-top: 25px;
  margin-bottom: 25px;
}
section .sectionFond {
  background-color: white;
}

.imgpokeball {
  width: 35px;
}

.logo {
  height: 45px;
}

header {
  background-image: url(../images/fond.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  margin-bottom: 25px;
}
header h1 {
  margin-top: 60px;
  font-family: "Caveat", cursive;
  color: white;
  text-align: center;
  font-size: 5rem;
}
header .navbarColor {
  color: #A29E9F !important;
}
header .navColor {
  color: #3A5CA8 !important;
}
header .navColor:hover {
  color: #EE4037 !important;
  text-decoration: underline;
}
header .navColor:active {
  color: #1D2C5E !important;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.Apropos {
  margin-top: 25px;
}

.AboutUs {
  padding: 35px;
}
.AboutUs .imgAboutUs {
  margin-top: 25px;
  width: 75%;
}
.AboutUs .btnContact {
  background-color: #3A5CA8;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  align-items: center;
  margin-left: 5px;
  margin-bottom: 20px;
}
.AboutUs .btnContact:hover {
  transition: 1s;
  background-color: #FFCB05;
  border: none;
  color: #1D2C5E;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  align-items: center;
}

.fondSalle {
  background-color: whitesmoke;
  padding: 35px;
}

.salle {
  margin-top: 30px;
}
.salle .center {
  text-align: center;
}
.salle .imgSalle {
  margin-top: 25px;
  width: 98%;
}
.salle p {
  padding: 2%;
}
.salle h4 {
  padding: 2%;
}

.arene {
  background-color: black;
  padding-bottom: 10px;
}
.arene .imgArene {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 2%;
}
.arene .logoSacharena {
  max-width: 300px;
}
.arene .titre {
  padding: 30px;
}
.arene .titre h2 {
  margin-top: 25px;
  padding-top: 25px;
  text-align: center;
  color: white;
}
.arene h3 {
  font-family: "Caveat", cursive;
  margin-top: 25px;
  margin-bottom: 10px;
  text-align: center;
  color: white !important;
  font-size: 3rem;
}
.arene p {
  padding-left: 15%;
  padding-right: 15%;
  color: white;
}

.combat {
  margin-top: 30px;
}
.combat .pad {
  padding: 30px;
}
.combat .center {
  text-align: center;
}
.combat .imgCombat {
  width: 100%;
}
.combat .cardPok {
  padding-bottom: 30px;
}
.combat p {
  padding: 2%;
}
.combat h4 {
  padding: 2%;
}
.combat .card {
  margin-bottom: 20px;
}

.fond {
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.6), rgba(146, 146, 146, 0.8));
  margin-left: 0px !important;
  margin-right: 0 !important;
}
.fond h3 {
  font-family: "Caveat", cursive;
  color: #FFCB05;
  font-size: 3rem;
}
.fond p {
  font-family: "Caveat", cursive;
  font-size: 1.8rem;
  color: #58585A;
  text-align: center;
}
.fond .light {
  font-weight: lighter;
}
.fond img {
  height: 40px;
  border-radius: 40px;
  margin-right: 5px;
  margin-left: 5px;
}
.fond .hop {
  height: 60px;
  border-radius: 60px;
  margin-right: 5px;
  margin-left: 5px;
}

.pad {
  padding: 30px;
}

input {
  width: 100%;
  border: 1px solid #FFCB05;
  padding: 8px;
  margin-top: 25px;
}

textarea {
  width: 100%;
  border: 1px solid #FFCB05;
  padding: 8px;
  margin-top: 25px;
}

#Contact h4 {
  text-align: left;
}

.btnContact {
  background-color: #3A5CA8;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  align-items: center;
}

.btnContact:hover {
  transition: 1s;
  background-color: #FFCB05;
  border: none;
  color: #1D2C5E;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  align-items: center;
}

.btnContact2 {
  background-color: #FFCB05;
  border: none;
  color: #1D2C5E;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  align-items: center;
}

.btnContact2:hover {
  transition: 1s;
  background-color: #3A5CA8;
  color: white;
}

.carte {
  width: 100%;
  max-width: 300px;
}

footer {
  background-image: linear-gradient(to bottom right, rgba(95, 92, 92, 0.2), rgb(0, 0, 0)), url(../images/man-336482_1920.jpg);
  min-height: 20vh;
  background-position: top, left;
  background-size: cover;
}
footer h4 {
  margin-top: 20px;
  text-align: left;
  color: white;
  padding: 5px;
}
footer p {
  color: white;
}
footer .pokemon {
  height: 100px;
  margin-top: 25px;
}

@media screen and (max-width: 410px) {
  #slider {
    display: none;
  }
  header {
    height: 400px;
  }
  h1 {
    font-size: 1rem;
  }
  .btnContact2 {
    display: inline-block;
    align-items: center !important;
  }
  .fond img {
    height: 30px;
    border-radius: 30px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .fond .hop {
    height: 50px;
    border-radius: 50px;
    margin-right: 5px;
    margin-left: 5px;
  }
  h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 767px) {
  #slider {
    display: none;
  }
  .AboutUs {
    padding: 0px;
  }
  .AboutUs form {
    text-align: center;
  }
  .pokemon {
    display: block;
    margin: auto;
  }
}/*# sourceMappingURL=styles.css.map */